<h2>Willkommen, @ViewBag.Email!</h2>

<div  align="center" vertical-align="middle">
    <div>
        @if (ViewBag.Admin){
            <a asp-action="AdminPanel" asp-controller="Account" class="btn btn-primary">Admin Panel</a>
        }
    </div>
    <div>
        <a asp-action="Game" asp-controller="Account" class="btn btn-primary custom-btn">Spiel starten!</a>
    </div>
</div>