<div>
    <a asp-action="AllUsers" asp-controller="Account" class="btn btn-primary">User Liste</a>
</div>
<div>
    <a asp-action="AllWords" asp-controller="Account" class="btn btn-primary">Wort Liste</a>
</div>