@model string

<h2>Session: @ViewBag.SessionId</h2>

<div id="startGameButton">
<button onclick="StartGame()">Spiel beginnen</button>
</div>

<!-- Random Word Display -->
<h3><span id="round"></span></h3>
<h3><span id="randomWord"></span></h3>
<p><span id="countdown"></span></p>
<h3><span id="gameEndMsg"></span></h3>

<!-- Player Elements -->
<div><h3>Spieler</h3></div>
<div id="playersList"></div>

<!-- Chat Elements -->
<div><h3>Chat</h3></div>
<div id="messagesList"></div>

<div id="SendNumberButton">
    <span id="notification"></span>
    <input type="number" id="solutionInput" placeholder="Enter your solution" />
    <button onclick="SendNumber()">Senden</button>
</div>

<div>
    <input type="text" id="messageInput" placeholder="Enter a message" />
    <button onclick="SendMessage()">Senden</button>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.11/signalr.min.js"></script>
<script>
    const sessionId = '@ViewBag.SessionId';
    const mail = '@ViewBag.Email'
    const connection = new signalR.HubConnectionBuilder().withUrl("/gamehub").build();

    connection.start().then(function () {
        connection.invoke("JoinSession", sessionId, mail, 0);
    }).catch(function (err) {
            return console.error(err.toString());
    });

    connection.on("ReceiveSessionState", function (word, countdown, round) {
        if (word !== null) {
            document.getElementById("randomWord").textContent = "Das Wort: " + word;
        }
        document.getElementById("countdown").textContent = "Verbleibende Zeit: " + countdown;
        document.getElementById("round").textContent = "Runde: " + round;
    });

    function SendMessage() {
        const message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", sessionId, mail, message).catch(function (err) {
            return console.error(err.toString());
        });
    }

    function StartGame() {
        connection.invoke("StartSession", sessionId).catch(function (err) {
            return console.error(err.toString());
        });
        toggleNumberButton(true);
    }

    function SendNumber() {
        const solution = document.getElementById("solutionInput").value;
        connection.invoke("SendSolution", sessionId, mail, solution).catch(function (err) {
            return console.error(err.toString());
        });
    }

    connection.on("ReceiveMessage", function (user, message) {
        const msg = user + ": " + message;
        const li = document.createElement("li");
        li.textContent = msg;
        document.getElementById("messagesList").appendChild(li);
    });

    connection.on("NotificationMessage", function (message) {
        document.getElementById("notification").textContent = message;
    });

    connection.on("ReceiveGameEndInfo", function (winner) {
        const msg = "Congratulatons to " + winner + "!";
        document.getElementById("gameEndMsg").textContent = msg;
        document.getElementById("randomWord").textContent = "";
        document.getElementById("countdown").textContent = "";
        document.getElementById("round").textContent = "";
    });

    connection.on("NewPlayerEntry", function (username, score) {
        const msg = username + ": " + score;
        const li = document.createElement("li");
        li.textContent = msg;

        const messageId = "player-" + username;
        li.setAttribute("id", messageId);

        document.getElementById("playersList").appendChild(li);
    });

    connection.on("ResetPlayerList", function () {
        const playerList = document.getElementById("playersList");
        playerList.innerHTML = "";
    });

    connection.on("GameInProgressMessage", function (inProgress) {
        var numberButton = document.getElementById("SendNumberButton");

        if (inProgress) {
            numberButton.style.display = "block";
        } else {
            numberButton.style.display = "none";
        }
    });

    connection.on("HideStartGameButton", function () {
        var startGameButton = document.getElementById("startGameButton");
        startGameButton.style.display = "none";
    });
</script>
